html {
       overflow-y: scroll;
}

body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #337AB7;
    color: white;
}

th, td {
    font: 12px Georgia, "Times New Roman", Times, serif;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.categories {
    float:left;
	padding-bottom: 20px;
	padding-top:80px;
    background:#FFFFFF;
    margin:0px auto;
    padding-bottom: 20px;
}

.content{
    padding-top:80px;
    float:right;
    padding-bottom:30px;
}


.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    background:#FFFFFF;
}

.header {
	padding-bottom: 20px;
	height:50px;
    background:#FFFFFF;
    width:730px;
    margin:0px auto;
    border-bottom: 1px solid #e5e5e5;
    z-index:1;
}

@media (min-width: 768px) {
    .container {
	    max-width: 730px;
	}
}


.row{
    border-bottom: solid #EEEEEE 2px;
    padding:4px;
    margin-bottom:4px;
}