<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon"/>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/order_style.css" rel="stylesheet">
    <link href="/static/form_style.css" rel="stylesheet">
    <style>
        .content{
        float:none;
        width:100%;
        }
        form#manage{
        float:none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		function pwcheck()
		{
			var one = document.getElementsByName("pwtext_new")[0].value;
			var two = document.getElementsByName("pwrepeat_new")[0].value;

			if(one.length < 1){
				return false;
			}
			else if(one.length < 6){
				document.getElementById("strength_label").style.color="red";
				document.getElementById("strength_label").innerHTML = "Weak";
			} else if (one.length > 10){
				document.getElementById("strength_label").style.color="green";
				document.getElementById("strength_label").innerHTML = "Good";
			} else if (one.length > 6){
				document.getElementById("strength_label").style.color="yellow";
				document.getElementById("strength_label").innerHTML = "Medium";
			}

			if(one == two)
			{
				document.getElementById("match_icon").className = "glyphicon glyphicon-ok";
				return true;
			} else
			{
				document.getElementById("match_icon").className = "glyphicon glyphicon-remove";
				return false;
			}
		}

		function checkDone()
		{
			var pw = pwcheck();

			if(pw){
				document.getElementById('update_password').disabled = false;
			} else {
				document.getElementById('update_password').disabled = true;
			}
		}

    </script>
</head>
<body>
<div class="header-cont">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if current_user.is_authenticated %}
                <li role="presentation"><a href="/basket"><img src="/static/basket.png"/> &nbsp <span
                        class="badge">{{current_user.numbasket}}</span></a>
                </li>
                {% endif %}
                <li role="presentation"><a href="/">Home</a>
                </li>
                <li role="presentation"><a href="/catalogue">Catalogue</a>
                </li>
                {% if current_user.is_authenticated %}
                <li role="presentation" class="active"><a href="/account"><span
                        class="glyphicon glyphicon-user"></span> &nbsp
                    <span class="badge">
		    	{% if current_user.name|length>=16 %}
			    	{{current_user.name[0:13]}}...
			{%else%}
			    	{{current_user.name}}
			{%endif%}
			</span></a>
                </li>
                {%endif%}
                {% if not current_user.is_authenticated %}
                <li role="presentation"><a href="/login">Sign In</a>
                    {% else %}
                <li role="presentation"><a href="/logout">Sign Out</a>
                    {% endif %}
                </li>
                {% if not current_user.is_authenticated %}
                <li role="presentation"><a href="/signup">Sign Up</a>
                </li>
                {%endif%}
            </ul>
        </nav>
        <h3 class="text-muted">
            <i>e-dot &#8212; drop the com.</i>
        </h3>
    </div>
</div>

<div class="container">

    <div class="categories">
        <h3>{{pagename}}</h3>

        <ul class="list-unstyled">
            <a href="/account/Account Settings">Account Settings</a>
            <br>
            <a href="/account/Orders">Orders</a>
            <br>
        </ul>
    </div>

    <div class="content">
        {%if message and status%}
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {%elif message and not status%}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{message}}
        </div>
        {%endif%}
        {% if pagename == "Account Settings"%}
        <form id="manage" action="/account/update_info" method="POST" style="float:right;">
            <fieldset>
                <legend>Account Information:</legend>
                <ol>
                    <li>
                        <label for=emailtext>Email:</label>
                        <input id=emailtext name=emailtext type=text value="{{user_info[0]}}" required
                               autofocus disabled>
                    </li>
                    <li>
                        <label for=nametext>Name:</label>
                        <input id=nametext name=nametext type=text value="{{user_info[1]}}" required maxlength="64">
                    </li>
                    <li>
                        <label for=addresstext>Address:</label>
                        <input id=addresstext name=addresstext type=text value="{{user_info[2]}}" required maxlength="32">
                    </li>
                    <li>
                        <label for=postcodetext>Post Code:</label>
                        <input id=postcodetext name=postcodetext type=text value="{{user_info[3]}}" required maxlength="9">
                    </li>
                    <li>
                        <label for=citytext>City:</label>
                        <input id=citytext name=citytext type=text value="{{user_info[4]}}" required maxlength="32">
                    </li>
                    <li>
                        <label for=countrytext>Country:</label>
                        <input id=countrytext name=countrytext type=text value="{{user_info[5]}}" required maxlength="32">
                    </li>
                </ol>
            </fieldset>
            <fieldset>
                <button type=submit id="update_account" name="update_account" class="btn btn-primary btn-file">
                    Update Information
                </button>
            </fieldset>
        </form>
        <form id="manage" action="/account/update_info" method="POST" style="float:right;">
            <fieldset>
                <legend>Change Password:</legend>
                <ol>
                    <li>
                        <label for=pwtext>Current Password:</label>
                        <input id=pwtext name=pwtext_current type=password required onkeyup="checkDone()">
                        <br>
                    </li>
                    <li>
                        <label for=pwtext>New Password:</label>
                        <input id=pwtext name=pwtext_new type=password required onkeyup="checkDone()">
                        <br>
                    </li>
                    <li>
                        <label for=pwrepeat>Repeat New Password: </label>
                        <input id=pwrepeat name=pwrepeat_new type=password required onkeyup="checkDone()"> <br>
                    </li>
                    <li>
                        <label>Password Match: </label>
                        <span id="match_icon" class="glyphicon glyphicon-remove"></span>
                    </li>
                    <li>
                        <label>Password Strength: </label>

                        <p id="strength_label">---</p>
                    </li>
                </ol>
            </fieldset>
            <fieldset>
                <button type=submit id="update_password" name="update_pass" class="btn btn-primary btn-file">
                    Update Password
                </button>
            </fieldset>
        </form>
        {% elif pagename == "Orders" %}

        {% if order_id %}
        <div class="order_box">
            <br>
            <a style="margin-left:20px;" href="/account/Orders" class="btn btn-primary">Back</a>
            <br>
            <center><legend>Order Confirmation</legend></center>
            <div class="order_info">
            <label for="order_id">Order id:</label>
            <p id="order_id">{{order_id}}</p>
            <label for="placed">Placed:</label>
            <p id="placed">{{order_row[0]}}</p>

                <label for="order_prods">Products:</label>
                </div>
            <table id="order_prods" style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in product_rows %}
                <tr>
                    <td></td>
                    <td><a href="/catalogue/{{item[0]}}/{{item[1]}}">{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}$</td>
                </tr>
                {% endfor %}
                <tr style="background-color: #FFF;color: black;">
                    <td><b>Total:</b></td>
                    <td></td>
                    <td><b>{{order_row[1]}}</b></td>
                    <td><b>{{order_row[2]}}$</b></td>
                </tr>
                </tbody>
            </table>
            {% if not order_id %}
            <br>
            <center><p>No Previous orders found!</p></center>
            {% endif %}
        </div>
        {% else %}

        <div class="order_box">
            <br>
            <center><legend>Orders in progress</legend></center>
            <br>
            <table style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order_info %}
                <tr>
                    <td><a href="/account/Orders/{{item[0]}}">View</a></td>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>Verified</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not order_info %}
            <br>
            <center><p>No Previous orders found!</p></center>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}

    </div>
</div>
<footer class="footer">
    <center>
        <p>
            This webstore is running <a href="https://github.com/ax-rwnd/E-dot/blob/master/LICENSE">e-dot</a> and
            <a href="http://flask.pocoo.org/docs/0.10/license/">Flask</a> | <a href="/cms">Administration</a>.
        </p>
    </center>
</footer>
</body>
</html>
	
