<!DOCTYPE html>
<html lang="en">
<head>
<title>Catalogue</title>
<link href="https://getbootstrap.com/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css"
	rel="stylesheet">
<link href="/static/favicon.ico" rel="shortcut icon" />
<link href="/static/style.css" rel="stylesheet">
<script>
function clicked(e)
{
    if(!confirm('Are you really sure you want to buy this crappy mountain?'))e.preventDefault();
}
</script>
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					{% if current_user.is_authenticated %}
					<li role="presentation"><a href="/basket"><img src="/static/basket.png"/></a>
					</li>
					{% endif %}
					<li role="presentation"><a href="/">Home</a></li>
					<li role="presentation" class="active"><a href="/catalogue">Catalogue</a>
					</li> {% if not current_user.is_authenticated %}
					<li role="presentation"><a href="/login">Sign In</a> {% else
						%}
					<li role="presentation"><a href="/logout">Sign Out</a> {%
						endif %}</li>
					{% if not current_user.is_authenticated %}
					<li role="presentation"><a href="/signup">Sign Up</a>
					</li>
					{%endif%}
				</ul>
			</nav>
			<h3 class="text-muted">
				<i>e-dot &#8212; drop the com.</i>
			</h3>
		</div>




		<div id="categories">
			<h3>{{ catname }}</h3>

			<ul class="list-unstyled">
				{% for name in c %}
				<a href="/catalogue/{{name}}">{{name}}</a>
				<br> {% endfor %}
			</ul>
		</div>


		{% if p%}
		<div id="products">
			{% for i in range(0, 10)%}
				{% for product in p%}
				<div class="product_box" tabindex="{{p.index(product)}}">
					<div class="product_info">
					<a href="/catalogue/{{catname}}/{{product[0]}}">
						<h3>{{product[1]}}</h3>
						{{product[2]}} <br> <br> <b>Price: {{product[3]}}$</b>
					</a>
					</div>
					<div class="product_image">
						<img src="/{{product[4]}}" />
					</div>
				</div>
				{% endfor %}
			{% endfor %}

		</div>
		{%endif%} {%if prod%}

		<div id="product_page">
			<div class="product_page_image">
				<img src="/{{prod[3]}}" />
			</div>
			<div class="product_info">
			<h3>{{prod[0]}}</h3>
			{{prod[1]}} <br> <br> <b>Price: {{prod[2]}}$</b>
			{% if current_user.is_authenticated %}
			<form action="/catalogue/{{catname}}/{{prodid}}" method="POST">
				<input type="submit" name="submit" value="Send to Basket">
			</form>
			{% endif %}
			</div>
			

		</div>
		{%endif%}
</body>
</html>

