<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Catalogue</title>
		<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/favicon.ico" rel="shortcut icon" />
	</head>
	<body>
	    <div class="container">
		<div class="header">
		    <nav>
			<ul class="nav nav-pills pull-right">
			    <li role="presentation"><a href="/">Home</a>
			    </li>
			    <li role="presentation" class="active"><a href="/catalogue">Catalogue</a>
			    </li>
			    <li role="presentation"><a href="/login">Sign In</a>
			    </li>
			    <li role="presentation"><a href="/signup">Sign Up</a>
			    </li>
			</ul>
		    </nav>
		    <h3 class="text-muted"><i>e-dot &#8212; drop the com.</i></h3>
		</div>
		<h3>{{ catname }}</h3>
		
		<ul class="list-unstyled">
		{% for name in c %}
		<a href="/catalogue/{{name}}">{{name}}</a><br>
		{% endfor %}
		</ul>

		<table style="width:100%">
		<tr>
				<td>Name</td>
				<td>Description</td>
				<td>Price</td>
			{% for product in p%}
			</tr>
			<br>
			<tr>
				<td>{{product[0]}}</td>
				<td>{{product[1]}}</td>
				<td>{{product[2]}}</td>
			</tr>
			{% endfor %}
		</table>
		

		</body>
</html>
	
