<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{message}}</title>
    <link href="/static/favicon.ico" rel="shortcut icon"/>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/index_style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</head>

<body>
{% include 'navbar.html' %}

<br>
<br> <!-- Dirty hack -->
<br>

<div class="container">
        {%if message %}
		{% if status %}
		<div class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Success!</strong> {{message}}
		{% else %}
		<div class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Failure:</strong> {{message}}
		{%endif%}
		</div>
        {%endif%}
        <div class="bg"></div>

	{% include 'footer.html' %}

</div>
</body>

</html>
