<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log In</title>
		<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/favicon.ico" rel="shortcut icon" />
	</head>
	<body>
	    <div class="container">
		<div class="header">
		    <nav>
			<ul class="nav nav-pills pull-right">
			    <li role="presentation"><a href="/">Home</a>
			    </li>
			    <li role="presentation"><a href="catalogue">Catalogue</a>
			    </li>
			    {% if not current_user.is_authenticated %}
				<li role="presentation"><a href="login">Sign In</a>
			    {% else %}
				<li role="presentation"><a href="logout">Sign Out</a>
			    {% endif %}
			    </li>
			    <li role="presentation"><a href="signup">Sign Up</a>
			    </li>
			</ul>
		    </nav>
		    <h3 class="text-muted"><i>e-dot &#8212; drop the com.</i></h3>
		</div>
		
		<!--
		<form>
			<div class="form-group">
			<label for="usertext">Username</label>
			 <input type="text" class="form-control" id="usertext">
			</div>
			<div class="form-group">
			<label for="pwtext">Password</label>
			 <input type="password" class="form-control" id="pwtext">
			</div>
			<input type="submit" name="my-form" value="Send">
			  <button type="submit" name="my-form2" class="btn btn-default" value="Send">Submit</button>

		</form>
		-->

		<center>
		<form action="/login" method="POST">
		<p>Username:</p>
		<input type="text" name="usertext">
		<br/>
		<br/>
		<p>Password:</p>
		<input type="password" name="pwtext">
		<br/>
		<br/>
		<input type="submit" name="my-form" value="Send">
		</form>
		</center>
		</body>
</html>
	
