<div class="header-cont">
	<div class="header">
		<nav>
			<ul class="nav nav-pills pull-right">
				{% if current_user.is_authenticated %}
				<li role="presentation" {%if nav.top.current_item.label == "Basket" %} class="active"{% endif %}>
					<a href="/basket"><img src="/static/basket.png"/>&nbsp <span class="badge">
						{{current_user.numbasket}}</span>
					</a>
				</li>
				{% endif %}

				<li role="presentation" {%if nav.top.current_item.label == "Home" %}class="active"{% endif %}>
					<a href="/">Home</a>
				</li>
				<li role="presentation" {%if nav.top.current_item.label == "Catalogue" %} class="active"{% endif %}>
					<a href="/catalogue">Catalogue</a>
				</li>
				
				{% if current_user.is_authenticated %}
				<li role="presentation"{%if nav.top.current_item.label == "Account" %}class="active"{% endif %}>
					<a href="/account">
						<span class="glyphicon glyphicon-user"></span> &nbsp <span class="badge">
						{% if current_user.name|length >= 13 %} {{current_user.name[0:10]}}...{% else %} {{current_user.name}} {%endif%}
					</span></a>
				</li>
				{%endif%}
				{% if not current_user.is_authenticated %}
				<li role="presentation" {%if nav.top.current_item.label == "Log In" %}class="active"{% endif %}>
					<a href="/login">Log In</a>
				</li>
				{%endif%}
				{% if current_user.is_authenticated %}
				<li role="presentation" {%if nav.top.current_item.label == "Log Out" %}class="active"{% endif %}>
					<a href="/logout">Log Out</a>
				</li>
				{%endif%}
				{% if not current_user.is_authenticated %}
				<li role="presentation" {%if nav.top.current_item.label == "Register" %}class="active"{% endif %}>
					<a href="/signup">Register</a>
				</li>
				{%endif%}
			</ul>
		</nav>
		<h3 class="text-muted">
			<i>{{config['DESCSTR']|safe}}</i>
		</h3>
	</div>
</div>
