<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign Up</title>
		<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/favicon.ico" rel="shortcut icon" />
	</head>
	<body>
	    <div class="container">
		<div class="header">
		    <nav>
			<ul class="nav nav-pills pull-right">
			    <li role="presentation"><a href="/">Home</a>
			    </li>
			    <li role="presentation"><a href="catalogue">Catalogue</a>
			    </li>
			    {% if not current_user.is_authenticated %}
				<li role="presentation"><a href="login">Sign In</a>
			    {% else %}
				<li role="presentation"><a href="logout">Sign Out</a>
			    {% endif %}
			    </li>
			    <li role="presentation" class="active"><a href="signup">Sign Up</a>
			    </li>
			</ul>
		    </nav>
		    <h3 class="text-muted"><i>e-dot &#8212; drop the com.</i></h3>
		</div>
		<center>
			<h2>Sign Up</h2>
		    <br/>
			<form action="/signup" method="POST">
			<p>Username:</p>
			<input type="text" name="usertext" required>
			<br/>
			<br/>
			<p>E-mail:</p>
			<input type="text" name="emailtext" required>
			<br/>
			<br/>
			<p>Password:</p>
			<input type="password" name="pwtext" required>
			<br/>
			<br/>
			<p>Repeat Password:</p>
			<input type="password" name="repwtext" required>
			<br/>
			<br/>
			<input type="submit" name="my-form" value="Send">
			</form>
		</center>
		</body>
</html>
	
